In [87]:
import pandas as pd
import numpy as np

### Create the Template for final file

In [16]:
DMT_TEMPLATE = pd.read_excel('DMT TEMPLATE.xlsx')

In [17]:
DMT_TEMPLATE.head()

Empty DataFrame
Columns: [SOR, Source_Tables, Source_Column, Target_Column_Name, Target_Definition, Transformation_Rule, Project_Name, Duplicate]
Index: []

In [23]:
FLPMap = pd.read_excel('FLP_PLM_Mapping_052016.xlsx', sheetname = 'Data Mapping', header=0 ,skiprows=11, usecols=['Target Table Name', 'Target Column Name', 'Source Table Name', 'Source Column Name', 'Transformation Rule', 'Join Condition'])
FLPMap.insert(6,'SOR', 'FLP')
FLPMap.columns = ['Target_Table_Name', 'Target_Column_Name', 'Source_Table_Name', 'Source_Column_Name', 'Transformation_Rule', 'Join_Condition', 'SOR']

In [24]:
FLPMap.head()

,Target_Table_Name,Target_Column_Name,Source_Table_Name,Source_Column_Name,Transformation_Rule,Join_Condition,SOR
0,NaN,FACILITYID,FLP_FLPEXP02_stg,"FLP_COL_DEALER_NBR, \nFLP_COL_CTLR_CD",FLP_COL_DEALER_NBR||FLP_COL_CTLR_CD,BASE.AGREEMENT AS A\nJOIN STG.FLP_FLPEXP02_st...,FLP
1,NaN,APPLICATION,Hardcode,FLP,FLP',NaN,FLP
2,NaN,BANK,FLP_FLPEXP01_stg,FLP_DLR_CO_BANK_CO_NBR,substring(FLP_DLR_CO_BANK_CO_NBR from 3 for 2),AGREEMENT AS A\nJOIN FLP_FLPEXP02_stg AS F1\n...,FLP
3,NaN,COMPANY_NUM,Hardcode,NaN,NaN,NaN,FLP
4,NaN,ALT_BORR_ID,NaN,NaN,NaN,NaN,FLP

In [7]:
SHAW_Map = pd.read_excel('SHAW Source to Target Mapping - EDW to PLM_012016.xlsx', sheetname = 'Data Mapping', header=0 ,skiprows=11, usecols=['Target Table Name', 'Target Column Name', 'Source Table Name', 'Source Column Name', 'Transformation Rule', 'Join Condition'])
SHAW_Map.insert(6, 'SOR', 'SHAW')

In [8]:
SHAW_Map.head()

,Target Table Name,Target Column Name,Source Table Name,Source Column Name,Transformation Rule,Join Condition,SOR
0,Loan - Terms and Conditions,NaN,NaN,NaN,NaN,NaN,SHAW
1,Loan,NaN,NaN,NaN,NaN,NaN,SHAW
2,Loan,NaN,NaN,NaN,NaN,NaN,SHAW
3,Customer - Hierarchy,NaN,NaN,NaN,NaN,NaN,SHAW
4,Loan- TDR,NaN,NaN,NaN,NaN,NaN,SHAW

In [15]:
ResiMTG_Map = pd.read_excel('ResiMTG Mapping_Punit_092015.xlsx', sheetname = 'Data Mapping', header=0 ,skiprows=11, usecols=['Target Table Name', 'EDW Perf Column Name', 'EDW PERF Table Name', 'Proposed Transformation Rule', 'Join Condition'])
ResiMTG_Map.insert(5, 'SOR', 'MTG')

In [17]:
ResiMTG_Map.head()

,Target Table Name,EDW PERF Table Name,EDW Perf Column Name,Proposed Transformation Rule,Join Condition,SOR
0,NaN,ccardm.PASSPORTMASTERSTAGE_PERF,MSPLASTRUNDATE,SELECT CASE WHEN EXTRACT(DAY FROM MSPLASTRUNDA...,NaN,MTG
1,NaN,ccardm.PASSPORTMASTERSTAGE_PERF,LOANNUMBER,SELECT LOANNUMBER\nFROM ccardm.PASSPORTMASTERS...,NaN,MTG
2,NaN,NaN,NaN,Hardcoded as 'Residential Mortgage',NaN,MTG
3,NaN,NaN,NaN,NaN,NaN,MTG
4,NaN,NaN,NaN,NaN,NaN,MTG

In [109]:
EDO_SHAW_Map = pd.read_excel('EDO SHAW - ChargeOffRecovery Mapping Specification_042017.xlsx', sheetname = 'Data Mapping', header=0 , skiprows=11, usecols=['Target Table Name', 'Target Column Name', 'Source Table Name', 'Source Column Name' , 'Transformation Rule', 'Join Condition'])
EDO_SHAW_Map.columns = ['Target_Table_Name', 'Target_Column_Name', 'Source_Table_Name', 'Source_Column_Name', 'Transformation_Rule', 'Join_Condition']

In [55]:
EDO_SHAW_Map.head()

,Target_Table_Name,Target_Column_Name,Source_Table_Name,Source_Column_Name,Transformation_Rule,Join_Condition
0,SHAW_ChargeOffRecoveries,TapeYear,ETL,NaN,Month end year for the extract period. See co...,NaN
1,SHAW_ChargeOffRecoveries,TapeMonth,ETL,NaN,Month end month for the extract period. See c...,NaN
2,SHAW_ChargeOffRecoveries,MonthEnd,ETL,NaN,Monthend timestamp for extract period.,NaN
3,SHAW_ChargeOffRecoveries,FullAccountNumber,AGREEMENT_IDENTIFICATION,agmt_id_val,SELECT \nCASE \n WHEN substring(agmt_id_val...,NaN
4,SHAW_ChargeOffRecoveries,agmt_id,AGREEMENT,agmt_id,1:1,NaN

In [110]:
EDO_SHAW_Map_2 = pd.read_excel('EDO SHAW - ChargeOffRecovery Mapping Specification_042017 - Copy.xlsx', sheetname = 'Data Mapping', header=0 , skiprows=11, usecols=['Target Table Name', 'Target Column Name', 'Source Table Name', 'Source Column Name' , 'Transformation Rule', 'Join Condition'])
EDO_SHAW_Map_2.columns = ['Target_Table_Name', 'Target_Column_Name', 'Source_Table_Name', 'Source_Column_Name', 'Transformation_Rule', 'Join_Condition']

In [57]:
EDO_SHAW_Map_2.head()

,Target_Table_Name,Target_Column_Name,Source_Table_Name,Source_Column_Name,Transformation_Rule,Join_Condition
0,SHAW_ChargeOffRecoveries,TapeYear,ETL,NaN,Month end year for the extract period. See co...,NaN
1,SHAW_ChargeOffRecoveries,TapeMonth,ETL,NaN,Month end month for the extract period. See c...,NaN
2,SHAW_ChargeOffRecoveries,MonthEnd,ETL,NaN,Monthend timestamp for extract period.,NaN
3,SHAW_ChargeOffRecoveries,FullAccountNumber,AGREEMENT_IDENTIFICATION,agmt_id_val,SELECT \nCASE \n WHEN substring(agmt_id_val...,NaN
4,SHAW_ChargeOffRecoveries,agmt_id,AGREEMENT,agmt_id,1:1,NaN

### How to create the Duplicate column by checking Target Column, Source Column and Source Table

In [123]:
EDO_SHAW_Map_2['Duplicate'] = np.where((EDO_SHAW_Map_2['Target_Column_Name'] == EDO_SHAW_Map['Target_Column_Name']) & (EDO_SHAW_Map_2['Source_Table_Name'] == EDO_SHAW_Map['Source_Table_Name']) & 
(EDO_SHAW_Map_2['Source_Column_Name'] == EDO_SHAW_Map['Source_Column_Name']), 'Y', 'N')

In [124]:
EDO_SHAW_Map_2.head()

,Target_Table_Name,Target_Column_Name,Source_Table_Name,Source_Column_Name,Transformation_Rule,Join_Condition,Duplicate
0,SHAW_ChargeOffRecoveries,TapeYear,ETLK,NaN,Month end year for the extract period. See co...,NaN,N
1,SHAW_ChargeOffRecoveries,TapeMonth,ETL,K,Month end month for the extract period. See c...,NaN,N
2,SHAW_ChargeOffRecoveries,MonthEnd,ETL,NaN,Monthend timestamp for extract period.,NaN,N
3,SHAW_ChargeOffRecoveries,FullAccountNumber,AGREEMENT_IDENTIFICATION,agmt_id_val,SELECT \nCASE \n WHEN substring(agmt_id_val...,NaN,Y
4,SHAW_ChargeOffRecoveries,agmt_id,AGREEMENT,agmt_id,1:1,NaN,Y

In [ ]:
DMT_Update = DMT_TEMPLATE.append(FLPMap, ignore_index=True)
#The below assigns all values under the SOR column to the code you specify.
#DMT_Update = DMT_Update.assign(SOR='FLP')

In [10]:
DMT_Update = DMT_Update.append(SHAW_Map, ignore_index=True)
#DMT_Update = DMT_Update.assign(SOR='SHAW')

In [29]:
DMT_Update.head()

,Duplicate(Y/N),Join Condition,Project Name,SOR,Source Column,Source Column Name,Source Table Name,Source Tables,Target Column Name,Target Definition,Target Table Name,Transformation Rule
0,NaN,BASE.AGREEMENT AS A\nJOIN STG.FLP_FLPEXP02_st...,NaN,FLP,NaN,"FLP_COL_DEALER_NBR, \nFLP_COL_CTLR_CD",FLP_FLPEXP02_stg,NaN,FACILITYID,NaN,NaN,FLP_COL_DEALER_NBR||FLP_COL_CTLR_CD
1,NaN,NaN,NaN,FLP,NaN,FLP,Hardcode,NaN,APPLICATION,NaN,NaN,FLP'
2,NaN,AGREEMENT AS A\nJOIN FLP_FLPEXP02_stg AS F1\n...,NaN,FLP,NaN,FLP_DLR_CO_BANK_CO_NBR,FLP_FLPEXP01_stg,NaN,BANK,NaN,NaN,substring(FLP_DLR_CO_BANK_CO_NBR from 3 for 2)
3,NaN,NaN,NaN,FLP,NaN,NaN,Hardcode,NaN,COMPANY_NUM,NaN,NaN,NaN
4,NaN,NaN,NaN,FLP,NaN,NaN,NaN,NaN,ALT_BORR_ID,NaN,NaN,NaN

### Outputting the resulting file to an excel file

In [12]:
DMT_Update.to_excel("output.xlsx", sheet_name='Sheet_name_1')

In [125]:
EDO_SHAW_Map_2.to_excel("duplicates.xlsx", sheet_name='Sheet_name_1')